<ion-view style="" title="Sobre">
    <div class="header">Sobre</div>
    <ion-content class="has-header about" overflow-scroll="true" padding="true">
      <p>marco 0 slc</p>

      <p>Mais informações: <a href="http://instituto.cidadedemocratica.org.br">Instituto Cidade Democratica</a> / <a href="http://github.com/hacklabr/mapasculturais-app">Github do Hacklab</a></p>

      <p ng-if="version">Versão: {{version}}</p>

      <p style="width: 25%; text-align: center; padding-top: 1em;">
        <img src="img/labslivres.png" width="80%" style="margin: auto"/>
      </p>
    </ion-content>
</ion-view>
